body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333333;
}

header {
    position: relative;
    width: 100%;
    height: 100vh; /* Înălțimea completă a ecranului */
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asigură că imaginea acoperă întregul header */
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrarea conținutului pentru toate secțiunile */
}

#package {
    background: #e0e0e0;
}

button {
    background: #0066cc;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

footer {
    background: #181c18;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Media Queries pentru Responsivitate */
@media screen and (max-width: 768px) {
    header {
        height: 50vh; /* Înălțime mai mică pentru ecrane mici */
    }

    section {
        margin: 10px;
        padding: 15px;
    }
}

.buy-button {
    background-color: #4CAF50; /* Culoarea de fundal */
    color: white; /* Culoarea textului */
    padding: 15px 32px; /* Padding pentru dimensiune */
    text-align: center; /* Alinează textul */
    text-decoration: none; /* Elimină sublinierea textului */
    display: inline-block; /* Tipul de afișare */
    font-size: 16px; /* Dimensiunea fontului */
    margin: 4px 2px; /* Margini în jurul butonului */
    cursor: pointer; /* Schimbă cursorul când este deasupra butonului */
    border: none; /* Elimină bordura */
    border-radius: 8px; /* Rotunjirea colțurilor butonului */
    transition-duration: 0.4s; /* Durata efectului de tranziție */
}

.buy-button:hover {
    background-color: #45a049; /* Schimbă culoarea de fundal când este hover */
}
